version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    networks:
      - nginx-net

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "8080:80"
    networks:
      - nginx-net
    depends_on:
      - backend

networks:
  nginx-net:
    external: true
